*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  color: $gray-900;
}

h1,
h2,
h3,
h4,
h5,
h6,
legend {
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.icon-unfilled{
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}